apiVersion: apps/v1
kind: Deployment
metadata:
  name: svc1
  namespace: default
  labels:
    app: svc1
    component: svc1
spec:
  replicas: 1
  selector:
    matchLabels:
      app: svc1
      component: svc1
  template:
    metadata:
      labels:
        app: svc1
        component: svc1
    spec:
      containers:
        - name: svc1-container
          image: mkbadeniyi/telepresence:telepresence_svc1
          imagePullPolicy: Always
          command:
            - sh
            - -c
            - "npm start"
          ports:
            - containerPort: 3001
              name: http
          env:
            - name: PORT
              value: "3001"
