apiVersion: apps/v1
kind: Deployment
metadata:
  name: web
  namespace: default
  labels:
    app: web
    component: web
spec:
  replicas: 1
  selector:
    matchLabels:
      app: web
      component: web
  template:
    metadata:
      labels:
        app: web
        component: web
    spec:
      containers:
        - name: web-container
          image: mkbadeniyi/telepresence_web
          imagePullPolicy: Always
          command:
            - sh
            - -c
            - "npm start"
          ports:
            - containerPort: 3000
              name: http
          env:
            - name: PORT
              value: "3000"
            - name: ME
              value: "Noor"
